
.displayFlex{
    display: flex;
}
.menuVarOuter{
    background-color: black;
    width: 99%;
    display: flex;
    position: fixed;
}
.menuVarInnerLeft{
    background-color: black;
    width: 80%;
    padding: 2% 0%;
    text-align: left;
}
.menuVarInnerRight{
    background-color: black;
    width: 20%;
    padding: 2% 2%;
    text-align: right;
}
.menuVarLinkTitle{
    color: green;
    margin: 1%;
    font-size: medium;
    text-decoration: none;
}
.menuVarLink{
    color: white;
    margin: 1%;
    text-decoration: none;
}
.bodySide{
    width: 15%;
    height: 200vh;
    border: solid black 1px;
}
.bodySideHeight100{
    width: 15%;
    height: 99vh;
    border: solid black 1px;
}
.bodyCenter{
    width: 70%;
    border: solid black 1px;
}
.verticalHorizontalCenter{
    justify-content: center;
    align-items: center;
    display: flex;
}

