.time{
    background-color: transparent;
    border: none;
    margin-left: 5rem;
    font-size: 1.1rem;

}

.timeBtn{
    background-color: transparent;
    border: none;
    margin-left: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.react-datepicker__aria-live {
    display: none;
  }