.time{
    background-color: transparent;
    border: none;
    margin-left: 5rem;
    font-size: 1.1rem;

}

.timeBtn{
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.timeContainer{
    display: flex;
}

.amOrPm{
}