.body {
    display: flex;
    height: 100%;
}

.bodyCenter {
    width: 70%;
    border-left: #e4e4e4 solid;
    border-right: #e4e4e4 solid;
}

.verticalHorizontalCenter {
    justify-content: center;
    align-items: center;
    display: flex;
}

.blank {
    height: 100px;
}

.feedListContainer{
    width: 80%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.feedListSection{
    width: 100%;

    display: flex;
    justify-content: center;
}

.feedList{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feed{
    border: 1px solid;

    width: 32%;
    height: 20rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 860px) and (max-width: 1400px) {

    .feed {
        width: 48%;
    }

}
