.modalNoticeContainer{
    border: 1px solid black;
    width: 360px;
    height: 400px;
    z-index: 150;
    top: 260px;
    right: -90px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    overflow: auto;
    backdrop-filter: blur(5px);
}

.modalNoticeDetailContainer{
    border: 1px solid black;
    width: 320px;
    height: 100px;
    z-index: 150;
    top: var(--move-top);
    right: -140px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    overflow: auto;
    backdrop-filter: blur(5px);
}
.modalAdressContainer{
    border: 1px solid black;
    width: 360px;
    height: 500px;
    z-index: 150;
    top: 560px;
    right: 90px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    overflow: auto;
    backdrop-filter: blur(5px);
}
.closeBtn{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
